body {
    background-color: rgb(72, 7, 7);
    /*
    margin: 0;
    padding: 0;
    */
}

.bebas-neue {
    font-family: "Bebas Neue", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

.bungee-tint {
    font-family: "Bungee Tint", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

h1 {color: #02f4a4;
font-size: 8em;}

<img src="this-is-fine.webp" alt="obrázek"> 